@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* body {
  background: linear-gradient(
    20deg,
    rgba(157, 213, 124, 1) 0%,
    rgba(189, 244, 255, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
} */
.root {
  width: 100%;
  text-align: center;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.4);

  padding: 40px 0;
}

.container {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.38);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.09);
}

.title {
  margin-bottom: 30px;
}

.swap-img {
  width: 1rem;
  height: 1rem;
  align-self: center;
  justify-content: center;
}

.swap-img:hover {
  transform: scale(1.1);
}
.selectContainer {
  display: flex;
  justify-content: space-evenly;
}

.inputContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
}

.result {
  margin-top: 40px;
  font-size: 32px;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 40px;
}

.label,
.input {
  display: block;
  margin-top: 20px;
}

.input {
  width: 250px;
  height: 45px;
  padding: 5px;
  border: transparent;
  border-radius: 2rem;
  padding-left: 2em;
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;
}

.input:focus {
  outline: none;
}

.label {
  text-align: left;
}
